.card
  .card-header
    %h4.d-inline= @publisher.name
    %span.d-inline.float-right
      = link_to 'Edit', publisher_edit_path(@publisher), class: 'btn btn-secondary' if logged_in?(:user)
      = link_to 'Destroy', publisher_destroy_path(@publisher), class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if logged_in?(:admin)
  .card-body
    %p List of publications from this publisher
    = render partial: 'publications/list', locals: { publications: @publications }
