
<div class="card  mx-auto">
  <div class="card-block">
    <div class="row">
      <div class="col-md-12">
        <h1>New Game Report</h1>

        <%= render 'form', game: @game %>
        <div class="auth-links">
          
        </div>
      </div>
    </div>
  </div>
</div>
